{% extends "patient_registration/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12 col-lg-8 col-xl-8">
                <div class="card">
                    <div class="body">
                        <div class="header">
                            <h2><strong>{{ doctor.name }}</strong> Appointments</h2>
                        </div>

                        <hr>
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="body">
                        <div class="event_list body">
                            {% if not next_appointments %}
                                <h5 class="text-center"><strong><i class="zmdi zmdi-coffee"></i> Cheers</strong>,
                                    No more upcoming Appointments
                                </h5>
                            {% else %}
                                <div class="header">
                                    <h2>Next<strong> Appointments</strong></h2>
                                    <hr>
                                </div>
                            {% endif %}
                            {% for appointment in next_appointments %}
                                <div class="e_list">
                                    <h6 class="e_name">
                                        <i class="zmdi zmdi-account"></i> {{ appointment.patient.name }}
                                    </h6>
                                    <h6>
                                        #{{ appointment.patient.patient_id }}
                                    </h6>
                                    <h7>
                                        <i class="zmdi zmdi-time mt-0"></i> {{ appointment.date|date:'j M Y P' }}
                                    </h7>
                                    <p class="e_details">{{ appointment.note }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Event Edit Modal popup -->
    <div class="modal fade" id="eventViewModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">View Appointment</h4>
                    <hr>
                </div>
                <div class="modal-body">
                    <div class="e_list">
                        <h5 class="e_name"><span id='patient'>Patient</span>
                            <span class="badge badge-primary float-right" id="time">2 Jan 2020</span>
                        </h5>
                        <blockquote>
                            <p class="blockquote blockquote-primary">
                                <span id="note"></span>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn delete-btn btn-danger"
                            title="Delete Appointment"><i class="zmdi zmdi-delete"></i> Delete
                    </button>
                    <button class="btn edit-btn btn-success"><i class="zmdi zmdi-edit"></i> Edit</button>
                    <button class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Event direct add Modal popup -->
    <div class="modal fade" id="addDirectEvent" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Appointment</h4>
                </div>
                <div class="modal-body padding-0">
                    <hr>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <form class="card auth_form" method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button class="btn btn-primary btn-block" type="submit">Submit</button>
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let event_data = {{ appointments_json|safe }};
    </script>
{% endblock content %}

{% block initial_script %}
    <script>
        $(document).ready(function () {
            $('select[name=patient]').attr('data-live-search', 'true')
        });
    </script>
    <script src="{% static 'patient_registration/js/pages/calendar/calendar.js' %}"></script>
    <script src="{% static 'patient_registration/plugins/momentjs/moment.js' %}"></script>
    <script src="{% static 'patient_registration/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
    <script src="{% static 'patient_registration/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js' %}"></script>
    <script src="{% static 'patient_registration/plugins/jquery-inputmask/jquery.inputmask.bundle.js' %}"></script>
    <script src="{% static 'patient_registration/plugins/multi-select/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'patient_registration/plugins/jquery-spinner/js/jquery.spinner.js' %}"></script>
    <script src="{% static 'patient_registration/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'patient_registration/plugins/nouislider/nouislider.js' %}"></script>
    <script src="{% static 'patient_registration/plugins/select2/select2.min.js' %}"></script>

{% endblock initial_script %}

{% block final_script %}
    <script src="{% static 'patient_registration/bundles/fullcalendarscripts.bundle.js' %}"></script>
    <script src="{% static 'patient_registration/js/pages/forms/basic-form-elements.js' %}"></script>
    <script src="{% static 'patient_registration/js/pages/forms/advanced-form-elements.js' %}"></script>
{% endblock final_script %}