{% extends "patient_registration/base.html" %}
{% load static %}
{% block content %}
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Appointments for {{ doctor.name }}</h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i
                            class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="body">
                        {% if appointments|length %}
                            <div id="calendar"></div>
                        {% else %}
                            <h3 class="text-warning">Sorry, There are currently no appointment
                                for {{ doctor.name }}</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Event Edit Modal popup -->
    <div class="modal fade" id="eventViewModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">View Appointment</h4>
                </div>
                <div class="modal-body">
                    <div class="e_list">
                        <h5 class="e_name"><span id='patient'>Patient</span>
                            <span class="badge badge-primary float-right" id="time">2 Jan 2020</span>
                        </h5>
                        <blockquote>
                            <p class="blockquote blockquote-primary">
                                <span id="note"></span>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn edit-btn btn-success">Edit Note</button>
                    <button class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let event_data = {{ appointments|safe }};
    </script>
{% endblock content %}

{% block initial_script %}
    <script src="{% static 'patient_registration/js/pages/calendar/calendar.js' %}"></script>
    <script src="{% static 'patient_registration/plugins/momentjs/moment.js' %}"></script>
    <script src="{% static 'patient_registration/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
{% endblock initial_script %}

{% block final_script %}
    <script src="{% static 'patient_registration/bundles/fullcalendarscripts.bundle.js' %}"></script>
{% endblock final_script %}