{% extends "patient_registration/base.html" %}
{% load static %}
{% load mathfilters %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card widget_2 big_icon zmdi-account">
                    <div class="body">
                        <h6>Total Patients</h6>
                        <h2>{{ total_patients }}</h2>
                        <small>{{ mtd_patients }} new registered in this month</small>
                        <div class="progress">
                            <div class="progress-bar l-amber" role="progressbar" style="width: 45%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card widget_2 big_icon sales">
                    <div class="body">
                        <h6>MTD Sales</h6>
                        <h2>&#x20b9; {{ mtd_sales }}</h2>
                        {% if mom_growth > 0 %}
                            <small>{{ mom_growth }}% higher than last month</small>
                        {% else %}
                            <small>{{ mom_growth|abs }}% lower than last month</small>
                        {% endif %}
                        <div class="progress">
                            <div class="progress-bar l-blue" role="progressbar"
                                 aria-valuenow="{{ mom_growth|floatformat|abs }}"
                                 aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{ mom_growth|floatformat|abs }}%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card widget_2 big_icon sales">
                    <div class="body">
                        <h6>MTD Expenses</h6>
                        <h2>&#x20b9; {{ mtd_expenses }}</h2>
                        {% if expense_growth > 0 %}
                            <small>{{ expense_growth }}% higher than last month</small>
                        {% else %}
                            <small>{{ expense_growth|abs }}% lower than last month</small>
                        {% endif %}
                        <div class="progress">
                            <div class="progress-bar l-pink" role="progressbar"
                                 aria-valuenow="{{ expense_growth|floatformat|abs }}"
                                 aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{ expense_growth|floatformat|abs }}%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card widget_2 big_icon email">
                    <div class="body">
                        <h6>Appointment</h6>
                        <h2>{{ total_appointments }}</h2>
                        <small>{{ completed_appointments }}% Appointment Completed</small>
                        <div class="progress">
                            <div class="progress-bar l-purple" role="progressbar"
                                 aria-valuenow="{{ completed_appointments|floatformat }}" aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{ completed_appointments|floatformat }}%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong><i class="zmdi zmdi-chart"></i> Sales</strong> Report</h2>
                    </div>
                    <div class="body mb-2">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="state_w1 mb-1 mt-1">
                                    <div class="d-flex justify-content-between text-green">
                                        <div>
                                            <h5>&#x20b9;{{ revenue|intcomma }}</h5>
                                            <span><i class="zmdi zmdi-balance"></i> Revenue</span>
                                        </div>
                                        <div class="sparkline" data-type="bar" data-width="97%" data-height="55px"
                                             data-bar-Width="3" data-bar-Spacing="5" data-bar-Color="#868e96">
                                            5,2,3,7,6,4,8,1
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="state_w1 mb-1 mt-1">
                                    <div class="d-flex justify-content-between text-danger">
                                        <div>
                                            <h5>&#x20b9;{{ due|intcomma }}</h5>
                                            <span><i class="zmdi zmdi-turning-sign"></i> Due Amount</span>
                                        </div>
                                        <div class="sparkline" data-type="bar" data-width="97%" data-height="55px"
                                             data-bar-Width="3" data-bar-Spacing="5" data-bar-Color="#2bcbba">
                                            8,2,6,5,1,4,4,3
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="state_w1 mb-1 mt-1">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h5>{{ invoices|intcomma }}</h5>
                                            <span><i class="zmdi zmdi-print"></i> Invoices</span>
                                        </div>
                                        <div class="sparkline" data-type="bar" data-width="97%" data-height="55px"
                                             data-bar-Width="3" data-bar-Spacing="5" data-bar-Color="#45aaf2">
                                            7,5,3,8,4,6,2,9
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div id="mom-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Treatment </strong>Categorization</h2>
                    </div>
                    <div class="body text-center">
                        <div id="treatment-chart" class="c3_chart d_distribution"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Appointment by <strong>Doctors</strong></h2>
                    </div>
                    <div class="body text-center">
                        <div id="appointment-pie" class="c3_chart d_distribution"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Expense </strong>Categorization</h2>
                    </div>
                    <div class="body text-center">
                        <div id="expense-pie" class="c3_chart d_distribution"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Expense <strong>Trend</strong></h2>
                    </div>
                    <div class="body">
                        <div id="expense-trend"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block initial_script %}
    <script src="{% static 'patient_registration/bundles/jvectormap.bundle.js' %}"></script>
    <script src="{% static 'patient_registration/bundles/sparkline.bundle.js' %}"></script>
    <script src="{% static 'patient_registration/bundles/c3.bundle.js' %}"></script>

{% endblock initial_script %}

{% block final_script %}
    <script>
        let mom_chart = {{ mom_chart|safe }};
        let treatment_chart = {{ treatment_chart|safe }};
        let appointment_by_doctor = {{ appointment_by_doctor|safe }};
        let expense_amount = {{ expense_amount|safe }};
        let expense_trend = {{ expense_trend|safe }};
    </script>
    <script src="{% static 'patient_registration/js/pages/index.js' %}"></script>
{% endblock %}