{% extends "patient_registration/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="card">
                <div class="body" id="invoice_print">
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <strong>Name</strong>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            : {{ object.name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <strong>Age/Sex</strong>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            : {{ object.age }}/{{ object.get_sex_display }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <strong>Address</strong>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            : {{ object.address}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <strong>Mobile No</strong>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            : {{ object.mobile }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <strong>Patient ID</strong>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            : {{ object.patient_id }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-0">
            <div class="m-auto">
                <button class="btn btn-info" onclick="printDiv('invoice_print')">
                    <i class="zmdi zmdi-print"></i>
                </button>
            </div>
        </div>
    </div>
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock content %}