{% extends "patient_registration/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Add more Treatment for {{ invoice.patient.name }}</h2>
        </div>
        <div class="col-md-1"></div>
        <form class="card auth_form col-md-10" method="POST">
            {% csrf_token %}
            <div class="body">
                {{ form|crispy }}
                <button class="btn btn-primary btn-block" type="submit">Add this treatment</button>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-info btn-block"
                           href="{% url 'patient-registration-add-appointment' invoice.patient.patient_id %}">Take
                            Appointment</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-success btn-block"
                           href="{% url 'patient-registration-view-invoice' invoice.id %}">No more
                            treatment, Print
                            Invoice</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}